<!DOCTYPE HTML>
<html>

<head>
    <title>Lista Dependentes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Filtro Dependente</h1>
    <form action="/seguradoradep/filtrodep" method="GET">
        <label for="idade">Idade:</label>
        <input type="text" id="idade" name="idade"><br><br>
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar" /></p>
    </form>
    <a href="/seguradoradep/listadep"><button>Lista de dependentes</button></a>

</body>

</html>